* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.headingsec {
    height: 100vh;
    background: linear-gradient(to right, #3d64ff1a 0%, #3d64ff1a 50%, #ffffff 50%, #ffffff 100%);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.headclszndx {
    position: relative;
    z-index: 2;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.headerflx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.namecls {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.namecls>span {
    border-radius: 50%;
    background-color: #3e64ff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-right: -10px;
}

.hedrlist {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.hedrlist>li {
    margin: 0 20px;
    cursor: pointer;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.mynamecss {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    top: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.fullnamecls {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.fullnamecls>h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: #3e64ff;
    letter-spacing: 4px;
}

.fullnamecls>h1 {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 25px 0;
}

.fullnamecls>h2 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.fullnamecls>h2>span {
    color: #3e64ff;
    text-decoration: underline;
}

.arrowdiv {
    height: 70px;
    width: 70px;
    background: #ebefff;
    transform: rotate(45deg);
}

/* Style for the arrow */
.arrowcls {
    animation: moveDown 2s linear infinite;
    position: absolute;
    bottom: 40px;
}

.arrowcls>svg {
    height: 30px;
    fill: #3e64ff;
}

/* Keyframes animation for moving the arrow down */
@keyframes moveDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(50px);
        /* Adjust the distance it should move */
    }
}

.profileinfo {
    display: flex;
}

.proimg {
    width: 50%;
    background-image: url(../images/img1.jpg);
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: cover;
}

.prodet {
    width: 50%;
    padding: 40px;
    padding-right: 10px;
}

.prodet>h2 {
    font-size: 50px;
    font-weight: 700;
}

.prodet>p {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    letter-spacing: 1px;
    margin: 40px 0;
}

.infolabelprt {
    display: flex;
    align-items: flex-start;
}

.infolabelprt>p {
    font-weight: 600;
    line-height: 1.8;
    color: #2d2d2d;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: capitalize;
    padding: 0 10px;
}

.infolabelprt>p:first-child {
    width: 135px;
}

.infolabelprt>p:nth-child(2) {
    width: 30px;
}

.infolabelprt>p:last-child {
    color: #999999;
    width: calc(100% - 165px);
    font-weight: normal;
}

.infolabelprt a {
    cursor: pointer;
    text-decoration: none;
}

.cvdownloadcls {
    margin: 40px 0;
}

.cvdownloadcls>a {
    background: #3e64ff;
    border: 1px solid #3e64ff;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 15px 20px;
    text-decoration: none;
}

.workedcmny {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.detailinfo {
    display: flex;
}

.infolabel {
    width: 30%;
}

.infopart {
    /* width: 70%; */
    width: 100%;
}

.partofinfo {
    margin-bottom: 100px;
}

.clsinfodeetlbl {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 30px;
    color: #3e64ff;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.infodescription {
    display: flex;
    margin: 40px 0;
}

.infosvgdiv {
    margin-right: 40px;
}

.infosvgdiv>svg {
    height: 55px;
    padding: 15px;
    fill: #ffffff;
    border-radius: 50%;
    background: #3e64ff;
}

.yearofedu {
    font-size: 16px;
    color: #3e64ff;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.eduname {
    font-size: 24px;
    text-transform: capitalize;
    margin: 10px 0;
}

.eduinsi {
    font-size: 18px;
    text-transform: capitalize;
}

.eduquote {
    list-style-type: none;
    margin-top: 10px;
}

.eduquote>li {
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    letter-spacing: 1px;
}



.projhead {
    text-align: center;
    margin: 80px 0 30px;
}

.projhead>h2 {
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
}

.projhead>p {
    font-weight: 400;
    color: #999999;
}

.proexpdiv {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.projimgdiv {
    /* width: 33.33%; */
    position: relative;
    display: flex;
    margin-top: 40px;
}

.projimgdiv>img {
    width: 100%;
}

.prolbldiv {
    display: none;
}

.imghoverdiv {
    background: #3e64ffad;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.imghoverdiv>h3 {
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    line-height: 30px;
}

.imghoverdiv>span {
    color: #ffffffcc;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
}

.skillshowdiv {
    width: 25%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.skillshowdiv>h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.freecontdiv {
    text-align: center;
    padding: 100px 0;
    background: #3e65ffb3;
}

.freecontdiv>h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.5;
}

.freecontdiv>p {
    color: #ffffffe6;
    line-height: 1.8;
    margin: 20px 0;
    letter-spacing: 1px;
}

.contactbtn {
    background: #3e64ff;
    border: 1px solid #3e64ff;
    color: #fff;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 16px 48px;
    border-radius: 50px;
    text-decoration: none;

    cursor: pointer;
}

.contactbtn:hover {
    color: #000000;
}

.contactblock{
    text-align: center;
    padding: 50px 0;
}

.contactblock>h2{
    font-size: 40px;
    font-weight: 700;
}

.contadivcls{
    color: #999999;
    line-height: 1.5;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 18px;
    margin-top: 15px;
}

.contsvgcls{
    width: 90px;
    border-radius: 30%;
    fill: #ffffff;
    background: #3e64ff;
    padding: 25px;
}

.clsftrflx{
    display: flex;
    justify-content: space-between;
}

.clsftrinfodiv{
    width: 25%;
    padding: 10px;
}

.clsftrinfodiv>h2{
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-size: 18px;
}

.ftrlistcls{
    list-style-type: none;
    /* font-size: 18px; */
    letter-spacing: 1px;
    text-transform: capitalize;
}

.ftrlistcls>li{
    margin-bottom: 8px;
    cursor: pointer;
}

.aboutpara{
    letter-spacing: 1px;
    line-height: 1.5;
}